# Auto detect text files and perform LF normalization
* text=auto
# CSS is no code guys cmon
*.css -linguist-detectable
# HTML isn't either
*.html -linguist-detectable
*.handlebars -linguist-detectable