@import "https://strawmelonjuice.com/gfonts.php/https://fonts.googleapis.com/css2?family=Ubuntu&display=swap";

@import "https://strawmelonjuice.com/gfonts.php/https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap";

@import "https://strawmelonjuice.com/gfonts.php/https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap";

:root {
    --filter-contrast-backgroundcolor: #a29191;
    --filter-grayscale-backgroundcolor: #FFF0;
}
.closebtn {
        font-family: 'Noto Color Emoji', sans-serif;
}
body {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    font-size: 14px;
    margin: 0;
    padding: 15px;
}

.bottombar {
    border-radius: 30px 0 0 0;
    bottom: 0px;
    overflow: hidden;
    position: sticky;
    width: 90%;
    z-index: 30;
    right: 0px;
}

.pageinfo-title {
    font-weight: bold;
    font-style: italic;
    color: #3f5b48;
    text-align: center;
    font-size: 20px;
}

.pageinfosidebar {
    height: auto;
    margin: auto;
    overflow: auto;
    padding: 0;
    width: 310px;
    position: fixed;
    bottom: 90px;
    z-index: 90;
    background-color: #6dc3d2;

}

.sidebar .closebtn {
    display: none;
    border-radius: 12%;
    text-align: center;
    vertical-align: middle;
    padding: 0px 4px;
}

.sidebar a {
    display: block;
    padding: 16px;
    text-decoration: none
}

main {
    text-align: center;
}

#daylighttoggle.accesstoggle {
    border: currentColor 1px solid;
    border-radius: 5px;
    background-color: currentColor;
    width: 30px;
    height: 30px;
}
#daylighttoggle.accesstoggle img {
    height: 26px;
    width: 26px;
    display: block;
    border-radius: 25px;
    padding: 2px;
}

.bottombar .accesstoggle {
    border-radius: 0 0 15px 0;
    display: block;
    float: left;
    font-size: 25px;
    padding: 3px;
    text-align: center;
    text-decoration: none
}
.imgmote {
    background-color: var(--color-slot-4);
    border-radius: 3px;
    font-size: 5px;
    height: 8em;
    margin: .9px;
    width: 8em;
    padding: 2px;
    display: inline-block;
}

imgmote {
    background-color: var(--color-slot-4);
    border-radius: 3px;
    height: 12px;
    margin: .9px;
    width: 12px;
    padding: 2px;
    display: inline-block;
    color: var(--color-slot-66);
}
.notion {
    margin-left: 5em;
    text-align: left;
    width: fit-content;
    display: list-item;
    list-style-image: url('/assets/img/imgmote/exclamationmark.gif');
    margin-bottom: 20px;
    border-radius: 15px;
    padding: 5px;
}

.notion:hover:after {
    content: ' \0021';
}

@media (orientation: landscape) and (min-width: 800px) {
    .bottombar.responsive .accesstoggle {
        display: none
    }
    :root {
        --screen-type-orientation: landscape;
    }
    .only-on-mobile {
        display: none !important;
    }

    #bmc-wbtn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 64px;
        height: 64px;
        background: #63938d;
        color: white;
        border-radius: 32px;
        position: fixed;
        left: 10px;
        bottom: 30px;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 8px;
        z-index: 9999;
        cursor: pointer;
        font-weight: 600;
        transition: all 0.25s ease 0s;
        transform: scale(1);
    }
}

@media (orientation: portrait),
(max-width: 800px) {
    .openbtn {
        display: block !important;
        font-size: 20px;
        cursor: pointer;
        padding: 10px 14px;
        border: none;
        z-index: 50;
        position: absolute;
        top: 8px;
        left: 5px;
        border-radius: 32px;
        width: 55px;
        height: 55px;
    }

    .not-on-mobile {
        display: none !important;
    }

    :root {
        --screen-type-orientation: mobile;
    }
    .only-on-mobile {
        display: inherit !important;
    }

    #daylighttoggle.accesstoggle {
        float: right;
    }
    #bmc-wbtn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 55px;
        height: 55px;
        background: #63938d;
        color: white;
        border-radius: 32px;
        position: fixed;
        right: 10px;
        bottom: 30px;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 8px;
        z-index: 111;
        cursor: pointer;
        font-weight: 600;
        transition: all 0.25s ease 0s;
        transform: scale(1);
    }
}

main.content {
    min-height: fit-content;
    max-height: 80%;
    margin-bottom: 100px;
    overflow: auto;
    padding: 30px;
}

.bottombar.responsive {
    z-index: 400;
}

.taggo:before {
    content: ' \0023';
}
.taggo {
    font-size: smaller;
    text-decoration: none !important;
}

div.sociallinks-icons {
    background-color: rgba(128, 128, 128, 0.7);
    border-radius: 25px;
    height: 35px;
    line-height: 60px;
    padding: 0px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
div.sociallinks-icons img {
    margin: 0px;
    padding: 0px;
    cursor: pointer;
}
/* 
commented to calm this shiii down
div.sociallinks-icons:hover img:not(:hover) {
    width: 25px;
    height: 25px;
} */
div.sociallinks-icons a {
    text-decoration: none;
}
div.sociallinks-icons img:not(:hover) {
    width: 30px;
    height: 30px;
}
div.sociallinks-icons a {
    margin: 0px;
}
div.sociallinks-icons:first-child a {
    margin-left: 10px;
}
div.sociallinks-icons:last-child a {
    margin-right: 10px;
}

div.sociallinks-icons img {
    margin: 0px;
    align-self: center;
}
div.sociallinks-icons img:hover {
    width: 35px;
    height: 35px;
}