body.light-theme {
        --color-slot-1: #dda0dd;
        --color-slot-2: #aad0f2;
        --color-slot-3: #194f97;
        --color-slot-4: #4f0952;
        --color-slot-5: #05bddd;
        --color-slot-6: #a8a8a838;
        --color-slot-7: #00000033;
        --color-slot-8: #999;
        --color-slot-9: #3f5b48;
        --color-slot-10: #6dc3d2;
        --color-slot-11: #85a0f2af;
        --color-slot-12: #E6A595;
        --color-slot-13: #251e1c;
        --color-slot-14: #EEBCBC;
        --color-slot-15: #b885f2aa;
        --color-slot-16: #1c1c1c;
        --color-slot-17: #63cc8150;
        --color-slot-18: #b885f28d;
        --color-slot-19: #6dd06d;
        --color-slot-20: #ffffff;
        --color-slot-21: #5b0d73;
        --color-slot-22: #78e3c8;
        --color-slot-23: #4150aa;
        --color-slot-24: #3338b7;
        --color-slot-25: #5f9ea048;
        --color-slot-26: #7a68bd;
        --color-slot-27: #290857;
        --color-slot-28: grey;
        --color-slot-29: #800080;
        --color-slot-30: black;
        --color-slot-31: #a74646;
        --color-slot-32: #8ed0b8;
        --color-slot-33: #a9c3bc;
        --color-slot-34: #5c5c8a;
        --color-slot-35: #00dfa7a1;
        --color-slot-36: #1e1eb9;
        --color-slot-37: #515174;
        --color-slot-38: #f5f5dc;
        --color-slot-39: #ddd99a;
        --color-slot-40: #4d4b52;
        --color-slot-41: #666666;
        --color-slot-42: #cccccc;
        --color-slot-43: #6e8095;
        --color-slot-44: #b086ff;
        --color-slot-45: #EEDEAB;
        --color-slot-46: #161616;
        --color-slot-47: #faebd7;
        --color-slot-48: #bbdcbb;
        --color-slot-49: #e10404;
        --color-slot-50: #efc85c;
        --color-slot-51: #200207;
        --color-slot-52: #f47a7a;
        --color-slot-53: #aa9fd7;
        --color-slot-54: #171616;
        --color-slot-55: #fefefe;
        --color-slot-56: #c2c2c2af;
        --color-slot-57: #ffd54d;
        --color-slot-58: #191515;
        --color-slot-59: #ff4da372;
        --color-slot-60: #C8ECB5;
        --color-slot-61: #eedeab80;
        --color-slot-62: #fff9ee;
        --color-slot-63: #008060;
        --color-slot-64: #2a2a2a;
        --color-slot-65: rgba(245, 245, 245, 0.285);
        --color-slot-66: #ffc0ed;
        --color-slot-67: unset
        /*  */
        --value-slot-01: solid 1px #ffffff;
        --value-slot-02: url(/assets/img/strawberrycorners.png) left -106px top -83px no-repeat,
        url(/assets/img/strawberrycorners.png) right -106px top -83px no-repeat,
        url(/assets/img/strawberrycorners.png) left -106px bottom -83px no-repeat,
        url(/assets/img/strawberrycorners.png) right -106px bottom -83px no-repeat,
        linear-gradient(#C8ECB5, #eedeab80);
        --value-slot-3: brightness(0) saturate(100%);
        /*  */
        background-image: url('/assets/img/bgraster.png');
}
body.dark-theme {
    --filter-contrast-backgroundcolor: #161616;
    --filter-grayscale-backgroundcolor: #afafaf6c;
    --color-slot-1: #dda0dd;
    --color-slot-2: #aad0f2;
    --color-slot-3: #a2bfe5;
    --color-slot-4: #9b4382;
    --color-slot-5: #59a8b3;
    --color-slot-6: #a8a8a838;
    --color-slot-7: #00000033;
    --color-slot-8: #999;
    --color-slot-9: #3f5b48;
    --color-slot-10: #6dc3d2;
    --color-slot-11: #85a0f2af;
    --color-slot-12: #E6A595;
    --color-slot-13: #251e1c;
    --color-slot-14: #0a1c92;
    --color-slot-15: #b885f2aa;
    --color-slot-16: #1c1c1c;
    --color-slot-17: #63cc8150;
    --color-slot-18: #b885f28d;
    --color-slot-19: #6dd06d;
    --color-slot-20: #000000;
    --color-slot-21: #5b0d73;
    --color-slot-22: #78e3c8;
    --color-slot-23: #a7afdf;
    --color-slot-24: #3338b7;
    --color-slot-25: #5f9ea048;
    --color-slot-26: #7a68bd;
    --color-slot-27: #290857;
    --color-slot-28: grey;
    --color-slot-29: #800080;
    --color-slot-30: white;
    --color-slot-31: #9c9de7;
    --color-slot-32: #8ed0b8;
    --color-slot-33: #1f5a4a;
    --color-slot-34: #5c5c8a;
    --color-slot-35: #00dfa7a1;
    --color-slot-36: #1e1eb9;
    --color-slot-37: #515174;
    --color-slot-38: #f5f5dc;
    --color-slot-39: #ddd99a;
    --color-slot-40: #4d4b52;
    --color-slot-41: #666666;
    --color-slot-42: #cccccc;
    --color-slot-43: #6e8095;
    --color-slot-44: #b086ff;
    --color-slot-45: #852668;
    --color-slot-46: #161616;
    --color-slot-47: #faebd7;
    --color-slot-48: #bbdcbb;
    --color-slot-49: #e10404;
    --color-slot-50: #ffacac;
    --color-slot-51: #200207;
    --color-slot-52: #f47a7a;
    --color-slot-53: #ffffff;
    --color-slot-54: #171616;
    --color-slot-55: #fefefe;
    --color-slot-56: #c2c2c2af;
    --color-slot-57: #ffd54d;
    --color-slot-58: #191515;
    --color-slot-59: #ff4da372;
    --color-slot-60: #C8ECB5;
    --color-slot-61: #eedeab80;
    --color-slot-62: #fff9ee;
    --color-slot-63: #008060;
    --color-slot-64: #c2c1c1;
    --color-slot-65: rgba(245, 245, 245, 0.285);
    --color-slot-66: #ffc0ed;
    --color-slot-67: #d4d3d4;
    /*  */
    --value-slot-01: solid 1px #ffffff;
    --value-slot-02: url(/assets/img/strawberrycorners-moons.png) left -106px top -83px no-repeat,
    url(/assets/img/strawberrycorners-moons.png) right -106px top -83px no-repeat,
    url(/assets/img/strawberrycorners-moons.png) left -106px bottom -83px no-repeat,
    url(/assets/img/strawberrycorners-moons.png) right -106px bottom -83px no-repeat,
    linear-gradient(#13354480, #3B1344);
    --value-slot-03: brightness(0) saturate(100%)invert(100%) sepia(7%) saturate(248%) hue-rotate(335deg) brightness(117%) contrast(90%);
    /*  */
    background-image: url('/assets/img/bgraster_dark.png');
    /* filter: brightness(0.7); */
}
.svgrecolor {
    filter: var(--value-slot-03);
}
main.content {
    background: var(--value-slot-02);
        
}
.bottombar {
    border-radius: 30px 0 0 0;
    bottom: 0px;
    overflow: hidden;
    position: sticky;
    width: 90%;
    z-index: 30;
    right: 0px;
    margin: auto;
}

a:hover:not(.menulink) {
    border-radius: 3px;
    color: var(--color-slot-1);
    padding: 5px;
    line-height: 115%;
    filter: drop-shadow(6px 6px 4px var(--color-slot-2)) drop-shadow(-6px -6px 4px var(--color-slot-2));
}

a:not(:hover):not(.menulink) {
    color: var(--color-slot-3);
}


.sidebar {
    border-radius: 30px;
    height: auto;
    margin: auto;
    overflow: auto;
    padding: 0;
    position: fixed;
    width: 300px;
    z-index: 30
}

.bottombar .icon {
    display: none
}
@font-face {
    font-family: "TapefontAlt";
    src:url("/assets/fonts/tapefontalt/TapefontAlt.woff2")format("woff2"),
        url("/assets/fonts/tapefontalt/TapefontAlt.woff")format("woff"),
        url("/assets/fonts/tapefontalt/TapefontAlt.ttf")format("truetype"),
        url("assets/fonts/tapefontalt/TapefontAlt.svg")format("svg");
}
body {
    font-family: "TapefontAlt";
}

.bottombar a:not(.accesstoggle, .icon) {
    display: block;
    float: right;
    font-size: 25px;
    height: 40px;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none
}


.centered {
    text-align: center
}

.imgmote {
    background-color: var(--color-slot-4);
}
imgmote {
    background-color: var(--color-slot-4);
    color: var(--color-slot-66);
}
.emoji-block {
    background-color: var(--color-slot-5);
    border-radius: 20%;
    font-family: 'Noto Color Emoji', sans-serif;
    font-size: 20px;
    height: 23px;
    padding: 1px;
    margin: .9px;
    width: 23px;
    display: inline-block;
}

.openbtn {
    display: none
}

.pageinfo-title {
    font-weight: bold;
    font-style: italic;
    color: var(--color-slot-9);
    text-align: center;
    /* line-height: 80px; */
    font-size: 20px;
}

.pageinfo-shortversion {
    font-style: italic;
    color: var(--color-slot-9);
    text-align: center;
    font-size: 15px;
}

.pageinfosidebar {
    border-radius: 30px;
    height: auto;
    margin: auto;
    overflow: auto;
    opacity: 80%;
    padding: 0;
    width: 310px;
    position: fixed;
    bottom: 90px;
    left: 30px;
    z-index: 90;
    background-color: var(--color-slot-10);
}

.sidebar .closebtn {
    display: none;
    border-radius: 12%;
    text-align: center;
    vertical-align: middle;
    padding: 0px 4px;
}

.sidebar a {
    display: block;
    padding: 16px;
    text-decoration: none
}

blockquote {
    background-color: var(--color-slot-11);
    border: 2px outset;
    border-color: var(--color-slot-12);
    color: var(--color-slot-13);
    font-style: italic
}

body {
    background-color: var(--color-slot-14);
    font-size: 14px;
    margin: 0;
    overflow: hidden;
    padding: 15px;
    color: var(--color-slot-30)
}

code {
    background-color: var(--color-slot-15);
    border: 2px dotted;
    border-color: var(--color-slot-12);
    color: var(--color-slot-16);
    font-family: 'Ubuntu Mono', monospace
}

div.derivi-twivi {
    background-color: var(--color-slot-17);
    border: 2px dotted;
    border-color: var(--color-slot-18);
    color: var(--color-slot-16);
    width: fit-content;
    max-width: 70%;
    border-radius: 15px;
    padding: 10px;
    display: inline-block;
    align-self: center;
}

#bottomlink_morelinks span {
    display: block;
    background-color: var(--color-slot-19);
    border: var(--value-slot-01);
    position: sticky;
    right: 10px;
    min-width: 117px;
    width: 30%;
    max-width: 300px;
    margin-left: 60%;
}

#oneko {
    border-radius: 30px;
    background-color: #ffffff5f;
}

#kittontoggle.accesstoggle {
    border: var(--color-slot-27) solid 2.5px;
    height: 26px;
    vertical-align: top;
    display: flex;
    border-radius: 0px 55px 200px 159px;
    -webkit-border-radius: 0px 55px 200px 159px;
    -moz-border-radius: 0px 55px 200px 159px;
    padding: 3px;
    background-color: var(--color-slot-21);
    color: var(--color-slot-22);
}

#kittontoggle.accesstoggle #kittontoggletext {
    display: inline;
    font-size: x-small;
    margin-left: 2px;
}

.badgearea {
    color: var(--color-slot-20);
    background-color: var(--color-slot-23);
    padding: 5px;
    box-shadow: 0px 10px 8px -4px var(--color-slot-24),
        0px -10px 8px -4px var(--color-slot-24);
    margin-top: 14px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 14px;
    overflow: hidden;
    transition: ease all 20s;
    display: block;
}

.badgearea .badge {
    max-width: 47%;
}

.badge {
    /* SQUEEZE */
    margin: 0px;
    padding: 0px;
}

.clickable-badge {
    cursor: pointer;
}

@media screen and (orientation:landscape) {
    main.content {
        margin-left: 400px;
        margin-right: 80px;
    }

    .pageinfosidebar {
        left: 325px;
        opacity: 95%;
    }

}

div.ephew-formlabels {
    background-color: var(--color-slot-25);
    border: 2px solid;
    border-radius: 5px;
    margin: 14px
}

div.link-embed {
    background-color: var(--color-slot-25);
    border: 2px solid;
    border-radius: 5px;
    margin: 14px
}

div.logincontent {
    border-radius: 25px;
    height: 400px;
    margin-left: 40%;
    padding: 1px 16px
}

div.timeline {
    border: 10px;
    border-radius: 7px 40px 50px 10px;
    height: 400px;
    line-height: 30px;
    padding: 1px 16px
}

form.big-ephew-form {
    border-radius: 70px;
    margin: 50px auto;
    max-width: 900px;
    min-width: 300px;
    padding: 30px 25px
}

h1 {
    font-size: 25px;
    font-weight: 300;
    margin: 0 auto 25px;
}

h2 {
    font-size: 21px;
    font-weight: 275;
    margin: 0 auto 21px;
}

h3 {
    font-size: 19px;
    font-weight: 400;
    margin: 0 auto 19px;
}

h4 {
    font-size: 15px;
    font-weight: 400;
    margin: 0 auto 15px;
}

img.card-img-top {
    max-height: 200px;
    max-width: 200px
}

li.timeline {
    border: 5px solid;
    border-width: thick;
    bottom: 40px;
    display: block;
    text-align: center
}

textarea.ephew-textinputtablebox {
    resize: none
}

ul {
    list-style-type: square;
    text-align: left;
}

ul.timeline {
    display: block;
    line-height: 30px;
    list-style-type: none;
    padding: 1px 16px
}

@media (orientation: portrait),
(max-width: 800px) {
    #main {
        padding: 16px;
        transition: margin-left .5s
    }

    .bottombar a.icon {
        display: block;
        float: left;
        font-size: 17px;
        padding: 14px 16px;
        text-align: center;
        text-decoration: none
    }

    .bottombar a:not(.icon, .accesstoggle) {
        display: none
    }
    .bottombar.responsive #kittontoggle {
        display: none;
    }
    .bottombar.responsive .icon {
        border-radius: 30px 30px 0 0;
        bottom: 0;
        left: 0;
        position: fixed;
        z-index: 900;
        background-color: var(--color-slot-26);
        color: var(--color-slot-5)
    }



    .bottombar.responsive a:not(.accesstoggle) {
        display: block;
        float: none;
        text-align: right
    }



    .sidebar .closebtn {
        display: inline;
        font-size: 36px;
        margin-left: 50px;
        position: absolute;
        right: 25px;
        top: 0
    }

    .sidebar a {
        display: block;
        font-size: 25px;
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        transition: .3s
    }

    main.content {
        margin-left: 0;
        position: relative
    }
}

@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px
    }

    .sidebar a {
        font-size: 18px
    }
}

.bottombar {
    border-radius: 30px 0 0 0;
    bottom: 0px;
    overflow: hidden;
    position: fixed;
    width: 90%;
    z-index: 110;
    right: 0px;
    margin: 0px;
}


.bottombar .icon {
    display: none
}

.bottombar .accesstoggle {
    border-radius: 0 0 15px 0;
    display: block;
    float: left;
    font-size: 17px;
    padding: 3px;
    text-align: center;
    text-decoration: none
}

.bottombar a:not(.accesstoggle, .icon) {
    display: block;
    float: right;
    font-size: 17px;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none
}


.centered {
    text-align: center
}

button {
    border: currentColor 5px groove;
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;
    font-size: 16px;
    line-height: 22px;
    line-break: strict;
    height: 35px;
    margin: auto;
    vertical-align: middle;
    text-align: center;
    width: 100%;
    background-color: var(--color-slot-2);
}


.link {
    font-size: 15px;
    margin-bottom: 0;
    text-align: center
}

.link-embed {
    border-radius: 10px 10px 40px 40px;
    margin: 20px;
    padding: 15px;
    text-align: center
}

.login-input {
    font-size: 15px;
    height: 25px;
    margin-bottom: 25px;
    padding: 10px;
    width: calc(100% - 23px)
}

.login-input:focus {
    outline: none
}

.media-upload-center {
    background: var(--color-slot-6);
    border-radius: 20px;
    box-shadow: 8px 10px 15px 0 var(--color-slot-7);
    display: inline-flex;
    height: 240px;
    position: inherit;
    text-align: center;
    width: 255px
}

.media-upload-dropzone {
    border: 1px dashed var(--color-slot-8);
    border-radius: 3px;
    height: 80px;
    text-align: center;
    width: 100px
}

.media-upload-frame {
    position: inherit;
    text-align: center
}

.media-upload-icon {
    margin: 25px 2px 2px
}

.media-upload-input {
    height: 100%;
    left: 0;
    opacity: 0;
    position: relative;
    top: -62px;
    width: 100%
}

.media-upload-title {
    border-bottom: 1px solid var(--color-slot-8);
    font-size: 15px;
    height: 50px;
    text-align: center;
    width: 100%
}

.postview:not(.postview-article) {
    border: 5px solid;
    border-width: thick;
    min-width: 300px;
    text-align: center
}

.sidebar .closebtn {
    display: none
}

.sidebar a {
    display: block;
    padding: 16px;
    transition: all 0.5s ease-out;
    text-decoration: none
}

div.ephew-formlabels {
    background-color: var(--color-slot-25);
    border: 2px solid;
    border-radius: 5px;
    margin: 14px
}

div.link-embed {
    background-color: var(--color-slot-25);
    border: 2px solid;
    border-radius: 5px;
    margin: 14px
}

div.logincontent {
    border-radius: 25px;
    height: 400px;
    margin-left: 40%;
    padding: 1px 16px
}

div.postview-article:not(.postedbyuserheader) {
    border: 5px solid;
    border-width: thick;
    min-height: 500px;
    min-width: 300px;
    text-align: center
}

div.timeline {
    border: 10px;
    border-radius: 7px 40px 50px 10px;
    height: 400px;
    line-height: 30px;
    padding: 1px 16px
}

form.big-ephew-form {
    border-radius: 70px;
    margin: 50px auto;
    max-width: 900px;
    min-width: 300px;
    padding: 30px 25px
}

h1 {
    font-size: 25px;
    font-weight: 300;
    margin: 0 auto 25px;
}

h2 {
    font-size: 21px;
    font-weight: 275;
    margin: 0 auto 21px;
}

h3 {
    font-size: 19px;
    font-weight: 400;
    margin: 0 auto 19px;
}

h4 {
    font-size: 15px;
    font-weight: 400;
    margin: 0 auto 15px;
}

img.card-img-top {
    max-height: 200px;
    max-width: 200px
}

li.timeline {
    border: 5px solid;
    border-width: thick;
    bottom: 40px;
    display: block;
    text-align: center
}

textarea.ephew-textinputtablebox {
    resize: none
}

ul {
    list-style-type: square
}

ul.timeline {
    display: block;
    line-height: 30px;
    list-style-type: none;
    padding: 1px 16px
}

@media (orientation: portrait),
(max-width: 800px) {
    #main {
        padding: 16px;
        transition: margin-left .5s
    }

    .bottombar a.icon {
        display: block;
        float: left;
        font-size: 17px;
        padding: 14px 16px;
        text-align: center;
        text-decoration: none
    }

    .bottombar a:not(.icon, .accesstoggle) {
        display: none
    }

    .bottombar.responsive .icon {
        border-radius: 30px 30px 0 0;
        bottom: 0;
        left: 0;
        position: absolute;
        background-color: var(--color-slot-29);
    }



    .bottombar.responsive a:not(.accesstoggle) {
        display: block;
        float: none;
        text-align: right
    }

    .sidebar .closebtn {
        display: inline;
        font-size: 36px;
        margin-left: 50px;
        position: absolute;
        right: 25px;
        top: 0
    }

    .sidebar a {
        display: block;
        font-size: 25px;
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        transition: .3s
    }

    main.content {
        margin-left: 0;
        position: relative
    }
}

@media (orientation: portrait),
(max-width: 800px) {
    .bottombar a:not(.icon, .themeswitcher) {
        display: none;
    }

    .bottombar a.icon {
        float: left;
        display: block;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

    .sidebar {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 100;
        top: 0;
        left: 0;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }

    .sidebar a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        display: block;
        transition: 0.3s;
    }

    .sidebar .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
        display: inline;
    }



    #main {
        transition: margin-left .5s;
        padding: 16px;
    }

    main.content {
        margin-left: 0;
        position: relative;

    }

    .bottombar.responsive .icon {
        position: absolute;
        border-radius: 30px 30px 0px 0px;
        left: 0;
        bottom: 0;
    }

    .bottombar.responsive a:not(.themeswitcher) {
        float: none;
        display: block;
        text-align: right;
    }

    .bottombar.responsive .themeswitcher {
        display: none;
    }

}

@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px
    }

    .sidebar a {
        font-size: 18px
    }
}


.bottombar .active {
    background-color: var(--color-slot-32)
}

.bottombar a:not(.accesstoggle, :hover) {
    color: var(--color-slot-31);
    transition: all 0.5s ease-out;
}

.bottombar a:hover {
    background-color: var(--color-slot-26);
    color: var(--color-slot-5)
}




.bottombar.responsive.icon a:hover {
    background-color: var(--color-slot-33);
    color: var(--color-slot-34)
}

.ephew-buttons:focus {
    background-color: var(--color-slot-35);
    color: var(--color-slot-36)
}

.ephew-buttons:hover {
    background-color: var(--color-slot-33);
    color: var(--color-slot-37)
}

.ephew-form {
    background-color: var(--color-slot-30)
}

.ephew-inputtablebox {
    background-color: var(--color-slot-38);
    border-color: var(--color-slot-33);
    color: var(--color-slot-34)
}

.ephew-textinputtablebox {
    background-color: var(--color-slot-39);
    border-color: var(--color-slot-33);
    box-shadow: inset 0 0 10px 10px var(--color-slot-38);
    color: var(--color-slot-40)
}

.link {
    color: var(--color-slot-41)
}

.link a {
    color: var(--color-slot-41)
}

.login-input {
    border: 1px solid var(--color-slot-42)
}

.login-input:focus {
    border-color: var(--color-slot-43)
}

.loginsidebar {
    background-color: var(--color-slot-44)
}

.openbtn {
    background-color: var(--color-slot-45);
    box-shadow: 4px 3px 8px 1px var(--color-slot-5);
    color: var(--color-slot-46)
}

.postedbyuserheader {
    color: var(--color-slot-47)
}

.postedbyuserheader a {
    color: var(--color-slot-48)
}

.sidebar {
    background-color: var(--color-slot-49);
    background-image: linear-gradient(var(--color-slot-45), var(--color-slot-45), #e4cd7e9f);
    box-shadow: 4px 3px 8px 1px var(--color-slot-5)
}

.sidebar a {
    /* background-color: var(--color-slot-45); */
    color: var(--color-slot-67)
}

.sidebar a.active {
    background-color: var(--color-slot-50);
    color: var(--color-slot-51)
}

.sidebar a:hover:not(.active) {
    background-color: var(--color-slot-52);
    color: var(--color-slot-53)
}

#filtertoggle {
    background-color: var(--color-slot-54);
    color: var(--color-slot-55)
}

#filtertoggle:hover {
    background-color: var(--color-slot-48)
}

.timeline li {
    background-color: var(--color-slot-56);
    border-color: var(--color-slot-57);
    color: var(--color-slot-58)
}

.timeline li.article {
    background-color: var(--color-slot-59)
}

div.bottombar {
    background-image: linear-gradient(to right, var(--color-slot-33), var(--color-slot-45))
}

/* main.content {
    background:
            url(/assets/img/strawberrycorners.png) left -106px top -83px no-repeat,
            url(/assets/img/strawberrycorners.png) right -106px top -83px no-repeat,
            url(/assets/img/strawberrycorners.png) left -106px bottom -83px no-repeat,
            url(/assets/img/strawberrycorners.png) right -106px bottom -83px no-repeat,
            linear-gradient(#C8ECB5, #eedeab80);
} */

div.link-embed {
    background-color: var(--color-slot-62)
}

div.logincontent {
    background-image: linear-gradient(var(--color-slot-60), var(--color-slot-61))
}

div.timeline {
    background-color: var(--color-slot-30);
    border-color: var(--color-slot-63)
}

h1 {
    color: var(--color-slot-64)
}

h1.login-title {
    color: var(--color-slot-41)
}